*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      width: 100%;
      height: 100%;
      letter-spacing: 1px;
  }
  .main{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .login_form_container{
       display: flex;
      position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 470px;
      max-width: 400px;
      max-height: 470px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-top: 70px;
  }
  .Donor{
    background :url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc18ntbw7MXle5hryP9Qlyy_WapNdsZb9FWgaZuKhRjeePygl8oXhFzbOtOnntEW9xY8E&usqp=CAU");
    /* width: 100%; */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: rgb(97, 124, 193); */
    width: 50%;
    /* background-color: rgb(97, 124, 193);
     width: 50%; */
  }
  .login_form_container::after{
      
      position: absolute;
      width: 170%;
      height: 170%;
      content: '';
  }
  .login_form{
      position: absolute;
      content: '';
      background-color: #0c1022;
      border-radius: 50px 5px;
      inset: 5px;
      padding: 50px 40px;
      z-index: 10;
      color: #00ccff;
  
  }
  .diffLogin {
    display: flex;
    
  }
  h2{
      font-size: 40px;
      font-weight: 600;
      text-align: center;
  }
  .input_group{
      margin-top: 40px;
      position:relative;
      display:flex;
      align-items: center;
      justify-content: start;
  }
  .input_text{
      width: 95%;
      height: 30px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #00ccff;
      font-size: 20px;
      padding-left: 10px;
      color: #00ccff;
  
  }
  ::placeholder{
      font-size: 15px;
      color: #00ccff52;
      letter-spacing: 1px;
  
  }
  .fa{
      font-size: 20px;
  
  }
  #login_button{
      position: relative;
      width: 300px;
      height: 40px;
      transition: 1s;
      margin-top: 70px;
  
  
  }
  #login_button input{
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      z-index: 10;
      cursor: pointer;
      font-size: 22px;
      letter-spacing: 2px;
      border: 1px solid #00ccff;
      border-radius: 50px;
      background-color: #0d8515;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .fotter {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
  
  }
  .fotter a{
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
  }
  .glowIcon {
      text-shadow: 0 0 10px #00ccff;
  
  }
  /* .main{
    display: flex;
  } */
  /* .main > div{
    flex: 0 0 50%;
  } */
  /* .Donor{
    width: 50%;
  } */
@media (max-width:900px)
{
 .Donor{
    flex-direction: column;
    width: 100%;
    padding-top: 10%;
 }
 .main {
    flex-direction: column;
  }

  .login_form_container {
    margin-top: 0;
  }
}